body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 100%;
    background-color: black;
    color: #00bcd4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.login-button {
    margin-right: 30px;
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.purple-bar {
    width: 100%;
    height: 5px;
    background-color: #800080; /* Fioletowy pasek */
    position: fixed;
    top: 75px; /* Dopasuj do wysokości nagłówka */
    left: 0;
    z-index: 999;
}

form {
    text-align: center;
    margin-top: 150px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 35px;
    color: #00bcd4;
    margin-bottom: 35px;
}

input[type="text"],
input[type="password"] {
    width: 350px;
    height: 40px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #00bcd4;
    border-radius: 5px;
    text-align: center;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #808080;
    font-size: 20px;
}

button[type="submit"] {
    width: 350px;
    height: 50px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #00a3c4;
}
