/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#users-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#users-table th, #users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#users-table th {
    background-color: #57bcd1;
    color: white;
}

#users-table tr {
    background-color: #f2f2f2;
}

#users-table tr:hover {
    background-color: #ddd;
}

#users-table td {
    color: #333;
}

#toggle-users-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #57bcd1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#toggle-users-btn:hover {
    background-color: #4fa4b8;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
}

.purple-bar {
    width: 100%;
    height: 10px;
    background-color: #800080; /* Fioletowy pasek */
    position: fixed;
    top: 75px; /* Dopasuj do wysokości nagłówka */
    left: 0;
    z-index: 999;
}

.header {
    width: 100%;
    background-color: black;
    color: #00bcd4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header span {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.login-button {
    margin-right: 30px;
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.change-role-button {
    background-color: #00ff00;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
}
