/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#users-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#users-table th, #users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#users-table th {
    background-color: #57bcd1;
    color: white;
}

#users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users-table tr:hover {
    background-color: #ddd;
}

#users-table td {
    color: #333;
}

#toggle-users-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #57bcd1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#toggle-users-btn:hover {
    background-color: #4fa4b8;
}






.flash {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.flash.success {
    background-color: #4caf50;
    color: #ffffff;
}

.flash.error {
    background-color: #f44336;
    color: #ffffff;
}

.flash.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
}