<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
</head>
<body>
    <div class="header">
        <span>ZINTEGROWANA PLATFORMA SZKOLNA</span>
        <a href="{{ url_for('logout') }}" class="login-button">Wyloguj</a>
    </div>
    <div class="purple-bar"></div>

    <div class="content">
        <h1>Welcome, {{ username }}!</h1>
        <p>This is the admin dashboard.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>
