<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
</head>
<body>
    <div class="header">
        <span>ZINTEGROWANA PLATFORMA SZKOLNA</span>
        <button class="login-button">Logowanie</button>
    </div>
    <div class="purple-bar"></div>

    <form>
        <h2>Logowanie</h2>
        <input type="text" id="email" name="email" placeholder="email">
        <input type="password" id="password" name="password" placeholder="hasło" value="********">
    </form>

    <script>
        document.getElementById('password').addEventListener('focus', function() {
            if (this.value === '********') {
                this.value = '';
            }
        });

        document.getElementById('password').addEventListener('blur', function() {
            if (this.value === '') {
                this.value = '********';
            }
        });
    </script>
</body>
</html>
